<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
.mainbar{
    margin-left: 10px;
    margin-top:70px;
}
.flstatus{
    margin-top:5px;
    margin-left:0px;
}
.flstatus2{
    margin-top:5px;
    margin-left:0px;
}
</style>
<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="/" class="w3-bar-item w3-button"><b>STELIA</b> </a>
    <!-- Float links to the right. Hide them on small screens -->

    <div class="w3-right w3-hide-small">
      <a href="/generate" class="w3-bar-item w3-button">Generate Data</a>
    </div>
  </div>
</div>
<div class="mainbar">
    <h2>Data Generation</h2>
    <div class="flstatus">
    <form method="post" action="/node/upload" enctype="multipart/form-data">
        <label>Upload Data File</label>
        <div class="flstatus2">
        <input type="file" name="GenerateFile">
        </div>
        <br>
        <input type="submit" value="submit">
    </form>
  </div>
</div>
