<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
.mainbar{
    margin-left: 10px;
    margin-top:70px;
}
.flstatus{
    margin-top:5px;
    margin-left:0px;
}
.flstatus2{
    margin-top:5px;
    margin-left:0px;
}
.flstatus3{
    margin-left:30px;
}
.flstatus4{
    margin-left:80px;
}
.flstatus5{
    margin-left:33px;
}
.glstatus{
    margin-top:20px;
    margin-left:100px;
}
.glstatus2{
    margin-top:20px;
    margin-left:140px;
}
</style>
<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="/" class="w3-bar-item w3-button"><b>STELIA</b> </a>
    <!-- Float links to the right. Hide them on small screens -->

    <div class="w3-right w3-hide-small">
      <a href="/generate" class="w3-bar-item w3-button">Generate Data</a>
    </div>
  </div>
</div>
<div class="mainbar">
    <h2>Monitoring System</h2>
    <form method="post" action="/node/add">
        <div class="flstatus">
        <div class="flstatus2">
        <label>Date</label>
        <input type="date" name="date1" class="flstatus4">
      </div>
        <div class="flstatus2">
        <label>Ramp Time</label>
        <input type="datetime" name="time1" class="flstatus3">
      </div>
      <div class="flstatus2">
        <label>Dwell Time</label>
        <input type="datetime" name="time2" class="flstatus5">
      </div>
      <div class="flstatus">
        <input type="submit" value="add" class="glstatus2">
      </div>
    </form>
      <form action="/node/report">
        <input type="submit" value="generate report" class="glstatus">
      </form>
    </div>
</div>
